#cluster-resumen {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 120px;
    pointer-events: none;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-box-shadow: 0px -5px 28px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -5px 28px -21px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -5px 28px -21px rgba(0, 0, 0, 0.75);
    transform: translateY(calc(100% + 30px));
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transform: translateY(calc(100% + 30px));
    -moz-transform: translateY(calc(100% + 30px));
    -ms-transform: translateY(calc(100% + 30px));
    -o-transform: translateY(calc(100% + 30px));
}

#cluster-resumen.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    pointer-events: all;
}

.body-times.cabin-selected {
    flex-direction: column;
    margin-bottom: 1.5rem;
}

#cluster-resumen p {
    margin-bottom: 0;
}

.resumen-itinerario .tramo:first-child {
    margin-bottom: .75rem;
}

.resumen-itinerario  .tramo .titulo {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    color: #0079cc;
}

#cluster-resumen .precio-pax {
    font-weight: bold;
    font-size: 2.2rem;
    color: #0079cc;
    line-height: 1;
    margin-bottom: 2rem;
}

#cluster-resumen .resumen-desglose .item p {
    font-weight: bold;
}

#cluster-resumen .resumen-desglose .item p span {
    font-weight: normal;
}

#cluster-resumen .cont-btn-next {
    text-align: center;
}

#cluster-resumen .precio-final {
    text-align: center;
    color: #0079cc;
    font-size: 1.6rem;
    font-weight: bold;
}

#cluster-resumen #precio-final-cifra {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.resumen-comprar .button-primary {
    padding: 1.2rem 3rem;
    font-size: 1.5rem;
    width: 100%;
    max-width: 100%;
}

.price-detail-item-ammount {
    font-weight: bold;
    margin-bottom: .5rem;
}

/* MODAL RESUMEN EXPANDIDO */
#modalResumen .modal-header {
    box-shadow: none;
    padding: 1rem 1.5rem;
}

#modalResumen .modal-header h5 {
    font-weight: bold;
}

#modalResumen .bqb-grid-fares .fares-cluster .cluster-main {
    padding: 2rem 0;
}

#modalResumen .bqb-grid-fares .fares-cluster .cluster-main,
.bqb-grid-fares .fares-cluster .cluster-categories {
    box-shadow: none;
    width: 100%;
}

.body-intro {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    line-height: 1;
}

.body-intro .viaje {
    color: #0079cc;
    font-weight: bold;
    font-size: 1.8rem;
}

.body-intro .fecha {
    font-size: 1.4rem;
}

.body-tarifa {
    color: #0079cc;
    font-weight: bold;
}

.bqb-price-detail {
    background-color: #F2F2F2;
    padding: 1.5rem;
    border-radius: .75rem;
    -webkit-border-radius: .75rem;
    -moz-border-radius: .75rem;
    -ms-border-radius: .75rem;
    -o-border-radius: .75rem;
}

.bqb-price-detail h5 {
    text-transform: uppercase;
    color: #0079cc;
    font-size: 1.4rem;
}

.price-detail-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.price-detail-item-unit {
    max-width: 70%;
}

.price-detail-item-unit .tipo {
    font-weight: bold;
    margin-right: .5rem;
}

.price-detail-final {
    color: #0079cc;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}

#modalResumen .cont-btn-next {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}

/* FIN MODAL RESUMEN EXPANDIDO */

button#toggle-expandir {
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    top: -29px;
    border: none;
    left: calc(50% - 25px);
    box-shadow: rgb(0 0 0 / 15%) 0px -3px 12px;
}

#toggle-expandir::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(icon-plus.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

button#toggle-expandir:hover {
    cursor: pointer;
}


button#toggle-expandir:hover:after {
    opacity: .75;
}

.mobile {
    display: none;
}

@media(max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

   #cluster-resumen .resumen-itinerario,
   #cluster-resumen .resumen-desglose,
   #cluster-resumen .resumen-precio {
        display: none;
    }


}